body{

}

.gif{
margin-left: 15px;
}

#buttons-gif{
	margin-left: 30px;
 padding-bottom: 10px;
}


.clearfix{
overflow: auto;
}

.form{
	margin-right: 0px;
}

.text-button{
	background-color: green;
	color: white;
	align: center;
	
	margin-left: 10px;
	margin-right: 10px;
}

.gif-in-page{
	padding: 10px;
}